#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#indigo{
    background-color: indigo;
}
#violet{
    background-color: violet;
}
#button{
    color: white;
    background-color: #107b7b;
    width: 15%;
    height: 50px;
    border: none;
    
}